@charset "utf-8";

body { font-family: 'Noto Sans KR', sans-serif; font-size: 1.6rem; line-height: 1.5; color: #000; }
.clearfix::after {content: ''; display: block; clear: both;}
.inner { max-width: calc(100% - 200px); margin: 0 auto; } /* 지정된 크기 */
.inner_100 { max-width: 100%; margin: 0 auto; } /* 100% */

@media (max-width:1600px) {
  .inner { max-width: calc(100% - 160px); } /* margin은 잡혀있어서 넣을 필요 없음 */
}
@media (max-width:1400px) {
  .inner { max-width: calc(100% - 140px); }
}
@media (max-width:1200px) {
  .inner { max-width: calc(100% - 120px); }
}
@media (max-width:1024px) {
  .inner { max-width: calc(100% - 100px); }
}
@media (max-width:768px) {
  .inner { max-width: calc(100% - 40px); }
}


/* all_wrap */
.all_wrap { width:100%; height:100%; background:url('../../html/images/main/menu_backgruound_blur.png') no-repeat center center; position:fixed; left:0; top:0; z-index:9999999; background-size: cover; }
.all_wrap h2 a { height: 200px; font-family: 'JUSTICE LEAGUE', sans-serif; font-weight: 100; color: #fff; font-size: 2rem; letter-spacing: 20px; position: absolute; top: 15%; left: 50%; transform: translate(-50%, 0%); }

.all_wrap .all_gnb li { display: flex; justify-content: center; padding-bottom: 30px; }
.all_wrap .all_gnb li:first-child { padding-top: 250px; }

.all_wrap .all_gnb p { color: #fff; position: absolute; left: 35%; font-size: 2rem; font-family: 'JetBrains Mono', monospace; padding-top: 30px; position: relative; }
.all_wrap .all_gnb a { color: #fff; font-family: 'JUSTICE LEAGUE', sans-serif; font-size: 7rem; margin: 0 auto; opacity: 0.4; transition: opacity 0.5s; }
.all_wrap .all_gnb p:before { content: ''; display: block; width: 50px; height: 50px; border-radius: 50%; background: #ff5; position: absolute; top: 18px; left: -12.5px; opacity: 0.5; display: none; } /* 물어보기 */


.all_wrap .all_gnb a:hover { opacity: 1;}

.all_wrap .close .nomal { position: absolute; top: 50%; right: 100px; transform: translate(0, -50%); cursor: pointer; }
.all_wrap .close .hover { position: absolute; top: 50%; right: 100px; transform: translate(0, -50%); cursor: pointer; opacity: 0; transition: opacity 0.5s; }
.all_wrap .close:hover .hover { opacity: 1; }

.all_wrap .watch { position: absolute; top: 50%; left: 100px; transform: translate(0, -50%); }
.all_wrap .watch .line { position: absolute; top: 100%; left: 5px; transition: left 0.5s; }
.all_wrap .watch:hover .line { position: absolute; left: 150px; }

/* header */
#container .ham { color: #fff; position: absolute; top: 40px; cursor: pointer; }
#container .ham span { display: inline-block; position: relative; width: 60px; height: 1px; background: #fff; font-size: 0; }
#container .ham span:before { content: ''; display: block; width: 30px; height: 1px; background: #fff; position: absolute; right: 0; top: -18px; transition: right 0.5s; }
#container .ham:hover span:before { content: ''; display: block; width: 30px; height: 1px; background: #fff; position: absolute; right: 30px; top: -18px; }


/* media */
@media (max-width:1200px) {
  .all_wrap .all_gnb p { left: 20%; }
  .all_wrap .watch { display: none;}

  .all_wrap .all_gnb li:first-child { padding-top: 300px; }

}

@media (max-width:768px) {
  .all_wrap .all_gnb p { display: none; }
  .all_wrap h2 a { text-align: center; }
  .all_wrap .all_gnb a { font-size: 5rem; }
  .all_wrap .all_gnb li { padding-bottom: 5px; }
  .all_wrap .all_gnb li:first-child { padding-top: 200px; }

  .all_wrap .close .nomal { right: 50%; transform: translateX(50%); top: 85%;}
  .all_wrap .close:hover .hover { display: none; }

}



/* batman */
#container { height: 100vh; overflow-y: hidden; position: relative; background: url('../../html/images/sub/character_batman_bk.png') no-repeat center center; }

.bat_video { position: relative; }
.bat_video video { width: 100%; height: 100vh; object-fit: cover;  position: absolute; left: 0; position: absolute; left: 0; top: 0;}
.bat_video .rgb { position: absolute; left: 0; top: 0; z-index: 999; width: 100%; height: 100%; }

.batman h1 { font-family: 'DM Serif Display', serif; color: #fff; font-weight: 400; font-size: 10rem; padding-top: 150px; }
.batman .sub_text { font-family: 'DM Serif Display', serif; font-style: italic; color: #fff; font-weight: 400; position: absolute; top: 150px; left: 105px; letter-spacing: 3px; }
.batman h2 { font-family: 'DM Serif Display', serif; color: #fff; opacity: 0.8; font-style: italic; font-weight: 400; width: 60%; font-size: 5rem; line-height: 90%; }
.batman .text01, .text02 { font-family: 'Noto Sans KR', sans-serif; color: #fff; font-size: 2rem;  width: 50%; font-weight: 400; text-align: justify; }
.batman .text01 { padding-top: 30px; }
.batman .text02 { padding-top: 15px; }

.sub { display: flex; padding-top: 50px; }
.sub h3 { color: #737373; font-family: 'DM Serif Display', serif; font-size: 2.2rem; font-weight: 400; }
.sub p { color: #fff; font-family: 'Noto Sans KR', sans-serif; font-weight: 400; font-size: 2rem; }

.sub .name { padding-right: 100px; }
.sub .actor { padding-right: 100px;}

.img_batman .movie { position: absolute; top: -450px; right: -70px; transform: scale(0.6, 0.6); transition: opacity 0.5s; }
.img_batman .comics { position: absolute; top: -420px; right: -515px; opacity: 0; transition: opacity 0.5s; transform: scale(0.48, 0.48); }

.img_batman:hover .movie { opacity: 0; }
.img_batman:hover .comics { opacity: 1; }



.close_back .nomal { position: absolute; top: 50%; right: 100px; transform: translate(0, -50%); cursor: pointer; z-index: 99999; }
.close_back .back_hover { position: absolute; top: 50%; right: 100px; transform: translate(0, -50%); cursor: pointer; opacity: 0; transition: opacity 0.5s; z-index: 999999; }
.close_back:hover .back_hover { opacity: 1; }



/* media */
@media (max-width:1200px) {

  #container { height: 100vh; overflow-y: hidden; background-size: cover; }

  .batman h1 { font-size: 8rem; padding-top: 15%; text-align: center; }
  .batman .sub_text { position: absolute; top: 10%; left: 0%; letter-spacing: 3px; font-size: 1rem; width: 100%; text-align: center; }
  .batman h2 { width: 100%; line-height: 90%; font-size: 2.2rem; text-align: center; }
  .batman .text01, .text02 { font-size: 1.4rem; width: 80%; margin: 0 auto; text-align: justify; }

  .img_batman .movie { position: absolute; top: -3%; right: -20%; transform: scale(0.45, 0.45); }

  .img_batman:hover .movie { opacity: 1; }
  .img_batman:hover .comics { display: none; }

  .sub { display: flex; padding-top: 5%; display: flex; justify-content: center; align-items: center; text-align: center; }
  .sub h3 { font-size: 2rem; }
  .sub p { font-size: 1.6rem; }

  .sub .name { padding-right: 40px; }
  .sub .actor { padding-right: 40px; }

  .close_back .nomal { position: absolute; top: 90%; right: 50%; transform: translate(50%, 0); cursor: pointer; z-index: 99999; }
  .close_back .back_hover { display: none; }
}

@media (max-width:768px) {
  .batman h1 { font-size: 6rem; padding-top: 35%; text-align: center; }
  .batman .sub_text { position: absolute; top: 17%; left: 0%; letter-spacing: 3px; font-size: 0.5rem; width: 100%; text-align: center; }
  .batman h2 { width: 100%; font-size: 5rem; line-height: 90%; font-size: 1.8rem; text-align: center; }
  .batman .text01, .text02 { display: none; }

  .img_batman .movie { position: absolute; top: -50%; right: -104%; transform: scale(0.4, 0.4); }

  .img_batman:hover .movie { opacity: 1; }
  .img_batman:hover .comics { display: none; }

  .sub { display: flex; padding-top: 5%; display: flex; justify-content: center; align-items: center; text-align: center; }
  .sub h3 { font-size: 1.8rem; }
  .sub p { font-size: 1.4rem; }

  .sub .name { padding-right: 30px; }
  .sub .actor { padding-right: 30px; }

  .close_back .nomal { position: absolute; top: 90%; right: 50%; transform: translate(50%, 0); cursor: pointer; z-index: 99999; }
  .close_back .back_hover { display: none; }

}