@charset "utf-8";

body { font-family: 'Noto Sans KR', sans-serif; font-size: 1.6rem; line-height: 1.5; color: #000; }
.clearfix::after {content: ''; display: block; clear: both;}
.inner { max-width: calc(100% - 200px); margin: 0 auto; } /* 지정된 크기 */
.inner_100 { max-width: 100%; margin: 0 auto; } /* 100% */

@media (max-width:1600px) {
  .inner { max-width: calc(100% - 160px); } /* margin은 잡혀있어서 넣을 필요 없음 */
}
@media (max-width:1400px) {
  .inner { max-width: calc(100% - 140px); }
}
@media (max-width:1200px) {
  .inner { max-width: calc(100% - 120px); }
}
@media (max-width:1024px) {
  .inner { max-width: calc(100% - 100px); }
}
@media (max-width:768px) {
  .inner { max-width: calc(100% - 40px); }
}



/* all_wrap */
.all_wrap { width:100%; height:100%; background:url('../images/main/menu_backgruound_blur.png') no-repeat center center; position:fixed; left:0; top:0; z-index:9999999; background-size: cover; }
.all_wrap h2 a { height: 200px; font-family: 'JUSTICE LEAGUE', sans-serif; font-weight: 100; color: #fff; font-size: 2rem; letter-spacing: 20px; position: absolute; top: 15%; left: 50%; transform: translate(-50%, 0%); }

.all_wrap .all_gnb li { display: flex; justify-content: center; padding-bottom: 30px; }
.all_wrap .all_gnb li:first-child { padding-top: 250px; }

.all_wrap .all_gnb p { color: #fff; position: absolute; left: 35%; font-size: 2rem; font-family: 'JetBrains Mono', monospace; padding-top: 30px; position: relative; }
.all_wrap .all_gnb a { color: #fff; font-family: 'JUSTICE LEAGUE', sans-serif; font-size: 7rem; margin: 0 auto; opacity: 0.4; transition: opacity 0.5s; }


.all_wrap .all_gnb a:hover { opacity: 1; }

.all_wrap .close .nomal { position: absolute; top: 50%; right: 100px; transform: translate(0, -50%); cursor: pointer; }
.all_wrap .close .hover { position: absolute; top: 50%; right: 100px; transform: translate(0, -50%); cursor: pointer; opacity: 0; transition: opacity 0.5s; }
.all_wrap .close:hover .hover { opacity: 1; }

.all_wrap .watch { position: absolute; top: 50%; left: 100px; transform: translate(0, -50%); }
.all_wrap .watch .line { position: absolute; top: 100%; left: 5px; transition: left 0.5s; }
.all_wrap .watch:hover .line { position: absolute; left: 150px; }



/* header */
#container .ham { color: #fff; position: absolute; top: 40px; cursor: pointer; z-index: 200; }
#container .ham span { display: inline-block; position: relative; width: 60px; height: 1px; background: #fff; font-size: 0; }
#container .ham span:before { content: ''; display: block; width: 30px; height: 1px; background: #fff; position: absolute; right: 0; top: -18px; transition: right 0.5s; }
#container .ham:hover span:before { content: ''; display: block; width: 30px; height: 1px; background: #fff; position: absolute; right: 30px; top: -18px; }

.close_back .nomal { position: absolute; top: 50%; right: 100px; transform: translate(0, -50%); cursor: pointer; z-index: 99999; }
.close_back .back_hover { position: absolute; top: 50%; right: 100px; transform: translate(0, -50%); cursor: pointer; opacity: 0; transition: opacity 0.5s; z-index: 999999; }
.close_back:hover .back_hover { opacity: 1; }


/* media */
@media (max-width:1200px) {
  .all_wrap .all_gnb p { left: 20%; }
  .all_wrap .watch { display: none;}

  .all_wrap .all_gnb li:first-child { padding-top: 300px; }

}

@media (max-width:768px) {
  .all_wrap .all_gnb p { display: none; }
  .all_wrap h2 a { text-align: center; }
  .all_wrap .all_gnb a { font-size: 5rem; }
  .all_wrap .all_gnb li { padding-bottom: 5px; }
  .all_wrap .all_gnb li:first-child { padding-top: 200px; }

  .all_wrap .close .nomal { right: 50%; transform: translateX(50%); top: 85%;}
  .all_wrap .close:hover .hover { display: none; }

}






/* main */
#container { background: url('../images/sub/character_PC_background_01.png') no-repeat center center; background-size: cover; }
#container .inner { position: relative; height: 100vh; overflow: hidden; }

/* btn */
#container .a01 .btn_01 { position: absolute; bottom: 150px; left: 300px; }
#container .a01 .btn_01_hover { position: absolute; bottom: 150px; left: 300px; opacity: 0; transition: opacity 0.5s; }
#container .a01:hover .btn_01_hover { opacity: 1; }

#container .a02 .btn_02 { position: absolute; bottom: 250px; left: 550px; }
#container .a02 .btn_02_hover { position: absolute; bottom: 250px; left: 550px; opacity: 0; transition: opacity 0.5s; }
#container .a02:hover .btn_02_hover { opacity: 1; }

#container .btn_03 { position: absolute; bottom: 150px; left: 700px; }
#container .btn_03_hover { position: absolute; bottom: 150px; left: 700px; opacity: 0; transition: opacity 0.5s; }
#container .a03:hover .btn_03_hover { opacity: 1; }

#container .btn_04 { position: absolute; bottom: 250px; right: 750px; }
#container .btn_04_hover { position: absolute; bottom: 250px; right: 750px; opacity: 0; transition: opacity 0.5s; }
#container .a04:hover .btn_04_hover { opacity: 1; }

#container .btn_05 { position: absolute; bottom: 150px; right: 570px; }
#container .btn_05_hover { position: absolute; bottom: 150px; right: 570px; opacity: 0; transition: opacity 0.5s; }
#container .a05:hover .btn_05_hover { opacity: 1; }

#container .btn_06 { position: absolute; bottom: 200px; right: 350px; }
#container .btn_06_hover { position: absolute; bottom: 200px; right: 350px; opacity: 0; transition: opacity 0.5s; }
#container .a06:hover .btn_06_hover { opacity: 1; }



/* media */
@media (max-width:1200px) {

  #container .a01 .btn_01 {position: absolute; bottom: 15%; left: 0%; }
  #container .a01 .btn_01_hover { display: none; }
  #container .a01:hover .btn_01_hover { display: none; }


  #container .a02 .btn_02 { position: absolute; top: 70%; left: 20%; }
  #container .a02 .btn_02_hover { display: none; }
  #container .a02:hover .btn_02_hover { display: none; }


  #container .btn_03 { position: absolute; bottom: 30%; left: 40%; }
  #container .btn_03_hover { display: none; }
  #container .a03:hover .btn_03_hover { display: none; }


  #container .btn_04 { position: absolute; bottom: 50%; right:40%; }
  #container .btn_04_hover { display: none; }
  #container .a04:hover .btn_04_hover { display: none; }


  #container .btn_05 { position: absolute; top: 70%; right: 20%; transform: translate(50%, 0%); }
  #container .btn_05_hover { display: none; }
  #container .a05:hover .btn_05_hover { display: none; }


  #container .btn_06 { position: absolute; bottom: 15%; right: 10%; transform: translate(50%, 0%); }
  #container .btn_06_hover { display: none; }
  #container .a06:hover .btn_06_hover { display: none; }

}

@media (max-width:768px) {
  #container { background: url('../images/sub/character_MOBILE_background.jpg') no-repeat center -130px; background-size: cover; }
  #container .inner { position: relative; height: 100vh; overflow: hidden; width: 100%; }


  #container .a01 .btn_01 {position: absolute; bottom: 15%; left: 10%; }
  #container .a01 .btn_01_hover { display: none; }
  #container .a01:hover .btn_01_hover { display: none; }


  #container .a02 .btn_02 { position: absolute; top: 43%; left: 10%; }
  #container .a02 .btn_02_hover { display: none; }
  #container .a02:hover .btn_02_hover { display: none; }


  #container .btn_03 { position: absolute; bottom: 25%; left: 75%; }
  #container .btn_03_hover { display: none; }
  #container .a03:hover .btn_03_hover { display: none; }


  #container .btn_04 { position: absolute; bottom: 50%; right:0%; }
  #container .btn_04_hover { display: none; }
  #container .a04:hover .btn_04_hover { display: none; }


  #container .btn_05 { position: absolute; top: 25%; right: 50%; transform: translate(50%, 0%); }
  #container .btn_05_hover { display: none; }
  #container .a05:hover .btn_05_hover { display: none; }


  #container .btn_06 { position: absolute; bottom: 35%; right: 50%; transform: translate(50%, 0%); }
  #container .btn_06_hover { display: none; }
  #container .a06:hover .btn_06_hover { display: none; }
}